#popup{
	position:fixed;
	display:none;
	top: 15vh;
	left: calc(100vw / 2);
	transform: translate(-50%, 0);
	background-color: #7A838B;
	background-color: var(--block-background-color);
	border: 1px solid rgba(0, 0, 0, 0.5);
	border: 1px solid var(--border-color);
	width: 90vw;
	max-width: 500px;
	max-height: calc(80vh);
	margin:0px auto 0px auto;
	padding:10px;
	box-shadow: 0 0 0 4000px rgba(0,0,0,0.3), 0 0 20px rgba(0,0,0,0.5);
	z-index: 100;
	overflow-y: auto;
	font-size: 13px;
	overflow-y: scroll;
}
#popup.wide{
	max-width: 800px;
}
#popup a{
	color: var(--link-color);
}
#popup h2{
	margin: -10px -10px 5px -10px;
	padding: 6px 10px;
	font-size: 18px;
	background-color: rgba(255, 255, 255, 0.3);
	background-color: var(--header-background-color);
	/*cursor:move;*/
}
#popup .buttons{
	text-align:center;
	margin-top:20px;
	margin-bottom:5px;
}
#popup .close{
	float: right;
	min-width: 0;
	padding: 5px;
	line-height: 0.5;
	font-size: 16px;
	margin-left: 10px;
	border: none;
	background: none;
}
#popup td, #popup th{
	height: 25px;
}
#popup td{
	vertical-align: middle;
}
#popup th{
	text-align:left;
	padding: 5px 5px 5px 0;
	width: 130px;
}
#popup textarea{
	color: var(--input-text-color);
	width:100%;
	border:1px solid #393939;
	padding-left:5px;
}
#popup .button{
	margin: 0 3px;
	background-color: rgba(255, 255, 255, 0.2);
	background-color: var(--button-background-color);
	min-width:60px;
	border:1px solid rgba(0, 0, 0, 0.5);
	border:1px solid var(--border-color);
	padding: 5px 10px;
}
#popup input[type="text"], #popup input[type="number"], #popup textarea{
	width:100%;
}
#popup input[type="number"]{
	width:100px;
}
#popup input[type="radio"], #popup input[type="checkbox"]{
	margin-left: 0;
}
#popup label span{
	color:var(--text-color-muted);
}
#popup .checkbox label{
	margin-top: 5px;
	color:var(--text-color-muted);
}
@media screen and (max-width:500px){
	#canvas_preview_container{
		clear:both;
	}
}
@media screen and (max-height:650px){
	#canvas_preview_container{
		clear:both;
	}
}

