
.label_width_character {
    width: 100%;
    max-width: 2.88rem;
    overflow: hidden;
    flex-shrink: 0;
}
.label_width_small {
    width: 100%;
    max-width: 6.4rem;
    overflow: hidden;
}

.text_red { color: var(--text-color-red); }
.text_green { color: var(--text-color-green); }
.text_blue { color: var(--text-color-blue); }
.text_muted { color: var(--text-color-muted); }
