body{
	background:none !important;
	background: #fff;
	background-color: #fff;
	font-family: Arial,Helvetica,Verdana;
	width:auto !important;
	padding:5px !important;
	font-size: 12px;
}
progress,
.menu,
#resize-w,#resize-h, #resize-wh,
#menu_left,
#layers_container,
#canvas_back,
#drop_zone,
.ddsmoothmenu{
	display: none;
	height: 0;
	width: 0;
}
#canvas_layers{
	margin:0px;
	padding:0px;
	}
canvas{
	border:0px;
	position: absolute;
	top:0px;
	left:0px;
	}
