/* ==== main ================================================================ */
	
body {
	font-size: 75%; /* Resets to 12px */
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	margin: 0px;
	padding: 0px;
	padding-top: 25px;
	background-color:#727272;
	width: 100%;
	font-weight: normal;
	min-width:800px;
	margin-right:15px;
	overflow-y: scroll;
	}
canvas{
	border:1px solid #808080;
	position: absolute;
	outline: none;
	/* disable select canvas */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
	
	/* disable antialiasing */
        image-rendering: -moz-crisp-edges;         /* Firefox */
        image-rendering:   -o-crisp-edges;         /* Opera */
        image-rendering: -webkit-optimize-contrast;/* Webkit (non-standard naming) */
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;  /* IE (non-standard property) */
	}
img{
	border: none;
}
td, th{
	vertical-align:top;
}
table{
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border-collapse: collapse;
	border-spacing: 0;
	width:100%;
}
input[type="text"], input[type="button"], select, input[type="number"]{
	border:1px solid #393939;
	}
input[type="range"]{
	margin-left:0px;
	width:100%;
	}
input[type="button"]:disabled {
	visibility:hidden;
	}
input[type="button"]{
	background: #dddddd;
}

/* ==== ID ================================================================== */

#canvas_handlers{
	border:1px solid #808080;
	position: absolute;
	margin-left:105px;
	}	
#canvas_back{
	background-color:#ffffff;
	}
#drop_zone{ 
	border:5px dashed  #CCCCCC;
	text-align: center; 
	width:400px;
	height:200px;
	margin:10px;
	margin-left:60px;
	display:none;
	position:absolute;
	background-color:#ffffff;
	}
#canvas_container{
	margin:10px 5px 5px 5px;
	}
#uploadprogress{
	position:absolute;
	top:5px;
	z-index:100;
	left:300px;
	height:15px;
	width:600px;
	display:none;
	}
#main_colour{
	border:1px solid #393939;
	background-color:#727272;
	margin-top:10px;
	width:100%;
	height:40px;
	margin:0px;
	padding:0px;
	}
#main_colour_alt{
	border:1px solid #393939;
	margin-top:10px;
	width:100%;
	height:40px;
	}
#main_colour_rgb{
	margin-top:5px;
	width:100%;
	color:#000000;
	text-align:right;
	}
#main_colour_rgb input{
	width:35px;
	}
#preview{
	width:150px;
	height:150px;
	background-color:#989898;
	border:1px solid #393939;
	margin:0px;
	padding:0px;
	position:fixed;
	right:10px;
	z-index:10;
	}
#preview canvas{
	cursor: pointer;
	}
#layers_base{
	width:140px; 
	background-color:#989898;
	border:1px solid #393939;
	padding:5px;	
	position:fixed;
	right:10px;
	top:195px;
	z-index:10;
	}
#layers_base{
	width:140px; 
	background-color:#989898;
	border:1px solid #393939;
	padding:5px;	
	position:fixed;
	right:10px;
	top:195px;
	z-index:10;
	}
#canvas_layers{
	margin-left:105px;
	}
#menu_left{
	position:fixed;
	width:100px; 
	min-height:490px;
	margin-right:5px;
	z-index:11;
	}
#menu_left_container .active{
	background-color: #5680c1 !important;
	}		
#menu_left_container a{
	float:left;
	border: 1px solid #393939;
	background: #989898 url('img/all.png') no-repeat 0px 0px;
	width:22px;
	margin:0px 1px 1px 0px;
	height:22px;
	overflow:hidden;
	display:block;
	}
#action_attributes{
	min-height:20px;
	font-size:11px;
	}
#info{
	padding:5px 3px 5px 2px;
	min-height:57px;
	font-size:11px;
	}	
#action_attributes input{
	font-size:11px;
	width:100%;
	}
#popup{
	position:fixed;
	border:1px solid #000000;
	background-color:#dbeaf9;
	width:400px;
	max-height:550px;
	overflow-y:scroll;
	margin:0px auto 0px auto;
	top:150px;
	left: 50%;
	margin-left:-200px;	
	display:none;
	padding:10px;
	font-size:12px;
	}
#popup h2{
	margin-top:0px;
	cursor:move;
	}
#popup td{
	height:20px;
	}
#popup textarea{
	color:#000000;
	width:100%;
	border:1px solid #393939;
	padding-left:5px;
	}
#popup .button{
	margin-right:5px;
	background-color:#5680c1;
	width:60px;
	height:25px;
	}
#resize-w, #resize-h, #resize-wh{
	background-color:#393939;
	width:5px;
	height:5px;
	margin-left:105px;
	position:absolute;
	}

/* ==== classes ============================================================= */

.block{
	border:1px solid #393939;
	padding:5px;
	margin-top:5px;
	background-color:#818181;
	}
.layer{
	margin-bottom:2px;
	border:1px solid #393939;
	background-color:#989898;
	padding:1px 5px 3px 5px;
	border-radius:3px;
	font-size:11px;
	height:13px;
	overflow:hidden;
	color:#333333;
	}
.layers_arrow{
	text-decoration:none;
	color:#000000;
	display:block;
	float:right;
	margin-left:5px;
	background-color:#727272;
	padding:0px 5px 0px 5px;
	border:1px solid #393939;
	font-size:11px;
	}
.layer_title{
	display:block;
	float:left;
	cursor:pointer;
	min-width:85px;
	width:10px;
	overflow:hidden;
	}
#layers_base .active{
	background-color:#5680c1;
	}
.layer_delete{
	float:right;
	cursor:pointer;
	padding:0px 3px 0px 3px;
	width:12px;
	height:12px;
	background: url('../img/all.png') no-repeat 0px -50px;
	}
.layer_visible{
	float:right;
	cursor:pointer;
	padding:0px 3px 0px 3px;
	width:12px;
	height:12px;
	background: url('../img/all.png') no-repeat -100px -50px;
	}
.layer_unvisible{
	background: url('../img/all.png') no-repeat -50px -50px;
	}	
.layer_add{
	border:1px solid #393939;
	padding:0px 4px 0px 4px;
	text-decoration:none;
	background-color:#5680c1;
	cursor:pointer;
	}
.mini-color{
	width:14px;
	height:14px;
	margin:0px 3px 3px 0px;
	float:left;
	border:1px solid #393939;
	}
.mini-color:hover{
	cursor:pointer;
	}
.attribute-title{
	text-align:center;
	font-weight:bold;
	}
.attribute-area{
	border:1px solid #393939;
	background-color:#989898;
	margin:5px 5px 5px 5px;
	text-align:center;
	padding:5px 0px 5px 0px;
	cursor:pointer;
	/* disable select */
	-webkit-user-select:none;
	-moz-user-select:none;
	}
.error{
	padding:20px;
	margin:10px;
	border:1px solid #ff0000;
	background-color:#ffffff;
	width:400px;
	font-weight:bold;
	}
.group{
	border:1px solid #888888;
	margin:5px 0px 5px 0px;
	padding:5px;
	}

/* ==== menu ================================================================ */

.ddsmoothmenu{
	position:fixed;
	z-index:99999;
	top:0;
	left:0;
	width:100%;
	font:12px Arial,sans-serif;
	background: #2D2D2D;
	width: 100%;
	padding-left:10px;
	}
.ddsmoothmenu ul{
	z-index:100;
	margin: 0;
	padding: 0;
	list-style-type: none;
	}
.ddsmoothmenu ul li{
	position: relative;		
	display: inline;
	float: left;
	color: #2d2b2b;
	}
.ddsmoothmenu ul li .rightarrowclass{
	display: none !important;
	}
.ddsmoothmenu ul li ul li .rightarrowclass{
	display: block !important;
	}
.ddsmoothmenu ul li a{	
	display: block;
	color: #2D2D2D;
	padding: 8px 10px;
	text-decoration: none;
	color: #cccccc;
	}
.ddsmoothmenu ul li a.selected {
	background: #FFFFFF !important;
	color: #2d2b2b;
	}
.ddsmoothmenu ul li ul li a.selected {
	background-color:#E4EBF8 !important;
	}
.ddsmoothmenu ul li a:hover{
	background: #E4EBF8;
	color: #2D2D2D;
	}
.ddsmoothmenu .hide_ul{
	position: absolute;
	left: -3000px;
	display: none;
	visibility: hidden;
	border:1px solid #5680C1;
	border-top:0px;
	}
.ddsmoothmenu ul li ul{
	position: absolute;
	left: -3000px;
	display: none;
	visibility: hidden;
	border:1px solid #5680C1;
	border-top:0px;
	}
.ddsmoothmenu ul li ul li{
	display: list-item;
	background: #ffffff;
	float: none;
	}
.ddsmoothmenu ul li ul li ul{
	top: 0;
	border-top:1px solid #5680C1;
	}
.ddsmoothmenu ul li ul li a{
	padding: 4px 5px 4px 5px;
	margin: 0;
	color: #2D2D2D;
	}	
* html .ddsmoothmenu{height: 1%;} /*Hack for IE7 and below*/
.downarrowclass{
	position: absolute;
	top: 12px;
	right: 7px;
	}
.rightarrowclass{
	position: absolute;
	top: 6px;
	right: 5px;
	}
.ddshadow{ 
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
	background-color: #ccc;
	}
.ddsmoothmenu .mid-line{
	background-color:#ff0000;
	border-top:1px solid #e5e5e5;
	font-size:0;
	padding:0 8px 0 8px;
	}

/* ==== print =============================================================== */

@media print{
	body{
		background:none !important;
		background: #fff;
		background-color: #fff;
		font-family: Arial,Helvetica,Verdana;
		width:auto !important;
		padding:5px !important;
		font-size: 12px;
	}
	progress,
	.menu,
	#resize-w,#resize-h, #resize-wh,
	#menu_left,
	#layers_container,
	#canvas_back,
	#drop_zone,
	.ddsmoothmenu{
		display: none;
		height: 0;
		width: 0;
	}
	#canvas_layers{
		margin:0px;
		padding:0px;
		}
	canvas{
		border:0px;
		position: absolute;
		top:0px;
		left:0px;
		}
	}
